<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="three.min.js"></script>
	<script type="text/javascript" src="facebulge.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" charset="utf-8">
		var face_info = <%- face_info %>;
		var photo_path = '<%- photo_path %>';
	</script>
  </head>
  <body>
    <h1><a href="/"><%= title %></a></h1>
	<p class="error">There was an ERROR2 processing your bulge :(</p>
    <p class="processing">Processing your bulge...</p>
		<script type="text/javascript" charset="utf-8">
		if(face_info) {
			$("p.error").hide();
			$("p.processing").show();
			if(face_info.faces.length == 0) {
				$("p.processing").text('sorry pal, we couldn\'t find any face bulge in your face. :(')
			}
		}
		</script>
	<div id="world"></div>
    <img src="<%= photo_path %>" alt="result image" width="304" height="228">
	<a href="https://github.com/j-v/FaceBulge">we <strong>bulge</strong> opensource, 'coz we're into that kind of stuff.</a>
  </body>
</html>
